<main class="w-100 m-auto text-center" >
  <div>
  <div class="row justify-content-center">
    <div class="col-6 ">
      <div class="form-floating" >
        <input #keywords class="form-control" value="land registry searches" id="floatingInput" placeholder="">
        <label for="floatingInput">Please enter keywords</label>
      </div>
      <div class="form-floating" style="margin: 20px 0px 20px 0px">
        <input #url class="form-control" id="floatingInput" value="www.infotrack.co.uk" placeholder="">
        <label for="floatingInput">Please enter desired URL</label>
      </div>
      <div class="justify-content-end"  >
        <select #searchEngine>
          <option *ngFor="let se of searchEngines" [value]="se.id">
            {{se.title}}
          </option>
        </select>
      </div>
      <div class="text-center" *ngIf="isSearched" style="margin: 20px 0px 20px 0px ">
        <h3>
          Successfully searched for '{{keywords.value}}'!

          <p *ngIf="results.length > 0;else notFound">
            Results position(s): <b>{{results}}</b>
          </p>
          <ng-template #notFound>
            could not found in top 100 results.
          </ng-template>
        </h3>
      </div>

      <button class="w-50 btn btn-lg btn-primary" style="margin: 10px" (click)="search(url.value, keywords.value,searchEngine.value )" type="submit">Search</button>

    </div>
  </div>

 
    </div>
</main>
